header {
	background-color: #DC143C;
}

#navbar-container li{
	display: inline-block;
	padding: 2%;
	font-size: 1.2vw;
	margin-top: 5px;
}

#navbar-container{
	text-align: right;
}

#navbar-container a{
	color: yellow;
	text-decoration: none;
	font-weight: bold;
}

#navbar-container a:hover{
	color: #FFDF00;
	font-size: 1.5vw;
	margin: 5px;
	text-decoration: none;
	font-weight: bold;
}

#logo{
	height: 7%;
	width: 7%;
	padding-left: 5%;
	display: inline;
	padding-bottom: 5%;
}

#logo-name h1{
	position: absolute;
	display: inline;
	font-size: 4vw;
	padding-bottom: 5%;
	padding-left: 5%;
	color: #FFDF00;
}

.newsflash {
	margin-top: 1%;
	margin-bottom: 1%;
}

.newsflash div{
	display: inline-block;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 1%;
	padding-bottom: 1%;
}
.newsflash a{
	font-size: 2vw;
	color: #DC143C;
	font-weight: bold;
	text-decoration: none;
}

.newsflash a:hover{
	font-size: 3vw;
	color: #FF143C;
	font-weight: bold;
	text-decoration: none;
}

#intro-container{
	background-color: #EEE;
	display: grid;
	grid-template-columns: auto auto;
}

.intro p{
	color: #950;
	font-size: 1.5vw;
	padding: 1%;
	text-align: justify;
	line-height: 120%;
}

#intro-container img{
	height: auto;
	width: 90%;
	padding: 5%;
}

.services {
	font-size: 2.5vw;
	padding-left: 5%;
	color: #DC143C;
}

.services-container {
	display: grid;
	grid-template-columns: repeat(3, minmax(0,1fr));
}

.services-container div{
	padding: 5%;
	text-align: justify;
	font-size: 1.5vw;
	line-height: 140%;
}

.services-container h2{
	font-size: 2vw;
	color: #DC143C;
	text-align: center;
}

.services-container h2:hover {
	font-size: 2.5vw;
	color: #DC143C;
	text-align: center;
}

.services-container a{
	padding-top: auto;
	float: right;
}

.tickets,.tour,.events{
	margin-left: 1%;
	margin-right: 1%;
	background-color: #EEE;
}

.legalities{
	display: inline-block;
	text-align: center;
	background-color: #FF7F7F;
	margin-top: 1%;
	width: 100%;
	padding-top: 1%;
	padding-bottom: 1%;
}

.legalities a{
	padding: 1%;
	font-size: 1.2vw;
	text-decoration: none;
	color: #FFF;
}

.legalities a:hover {
	padding: 1%;
	font-size: 1.5vw;
	text-decoration: none;
	color: #FFF;
}

.copyrights {
	display: inline-block;
	background-color: #DC143C;
	padding: 0;
	text-align: center;
	margin-top: 0;
	width: 100%;
	padding-top: 1%;
	padding-bottom: 1%;
}

.copyrights p{
	font-size: 1.2vw;
	color: #FFDF00;
}

/**CONTACT US: **/

.contact-container{
	display: grid;
	grid-template-columns: 70% 30%;
	margin-top: 1%;
}

.contact-container h2{
	font-size: 2vw;
	color: #DC143C;
	padding: 1%;
}

.contact-form h3{
	font-size: 1.5vw;
	color: #DC143C;
	padding: 1%;
}

.contact-form{
	background-color: #EEE;
	margin-right: 1%;
}

.contact-info{
	background-color: #EEE;
	margin-left: 1%;
}

.text-fields input {
	margin: 1%;
	padding: 0.7%;
	width: 45%;
	font-size: 1.2vw;
}

.checkbox-fields{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-row-gap: 30%;
	margin: 1%;
	padding: 1%;
	font-size: 1.2vw;
}

.address {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

#add {
	grid-column: 1/span 2;
}

.address input,.address div{
	padding: 0.7%;
	margin: 2%;
	font-size: 1.2vw;
}

.address label {
	margin-left: 2%;
}

.address select {
	width: 95%;
	padding: 0.7%;
	font-size: 1vw;
	margin-top: 4%;
	margin-left: 1.8%;
}

#phone{
	grid-column: 1/span 2;
	padding: 0.7%;
	font-size: 1.2vw;
}

hr {
	margin-left: 2%;
	margin-right: 2%;
	position: relative;
	height: 0.3vh;
	border: none;
	background-color:#DC143C;
	margin-bottom: 2%;
}

.buttons{
	text-align: right;
	padding: 1%;
}

.reset,.submit{
	height: 7vh;
	width: 12vh;
	margin-left: 5%;
	font-size: 1.2vw;
	margin-bottom: 5%;
}

.reset{
	background-color: #EEE;
}

.submit{
	background-color:#DC143C;
	color: #FFDF00;
}

.submit:hover,.reset:hover {
	height: 8vh;
	width: 14vh;
}

.contact-info{
	text-align: center;
	padding: 10%;
}

.contact-info h3{
	font-size: 1.5vw;
	color: #DC143C;
	padding: 1%;
}

.numbers p{
	font-size: 1.2vw;
}

.hq p,.hours p{
	font-size: 1.2vw;
	padding: 1%;
	line-height: 120%;
}